.header {
    display: flex;
    height: 80px;
    align-items: center;
}
.name-container {
    width: max-content;
}
.name-1,
.name-2 {
    font-family: Nunito;
    padding-left: 100px;
    font-weight:900;
}
.name-2 {
  padding-left: 120px;  
}
.contact-container {
    padding-left: 900px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.header-text {
    width: 200px;
}
