.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    height: 80px;
    display: flex;
    align-items:center;
    /* justify-content:center; */
}
.homepage {
    font-size:30px;
    color: black;
    padding-left: 80px;
}
.name-container div {
    animation: bounce 3s ease-in-out infinite alternate;
    font-weight: 900;
    font-family: Nunito, Montserrat, Arial;
    cursor: default;
    padding-left: 100px;
}
.Nathan {
    margin-left: 30px;
}
@keyframes bounce {
    0%,100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
}

.contact-container {
    display: flex;
    column-gap: 100px;
    margin-left:auto ;
    padding-right: 130px;
}